* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body {
    width: 100%;
}

.container {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.f-right {
    float: right !important;
}

header {
    width: 100%;
    height: 185px;
    float: left;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.topbar {
    height: 45px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.topbar::after {
    content: "";
    width: 100%;
    background-color: #fff;
    height: 20px;
    position: absolute;
}

.topbar-row {
    display: flex;
    justify-content: space-between;
}

.topbar-left{
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
}

.topbar-left ul{
    list-style: none;
}

.topbar-right{
    line-height: 70px;
    font-size: 20px;
    padding: 0 15px;
}

.welcome-text{
    color: #707070;
}

.ul-account {
    list-style: none;
    display: inline-block;
}

.ul-account li {
    display: inline-block;
}

.ul-account li a{
    display: inline-block;
    color: #707070;
    text-decoration: none;
    transition: all 0.5s;
}

.ul-account li:hover a{
    color: #e7a63b;
    text-shadow: 2px 2px 10px orange ;
}

.mid-header{
    height: 90px;
    background-color: black;
    position: relative;
    top: 15px;
}

.mid-header-row {
    height: 120px;
}

.header-nav{
    text-align: center;
    height: 90px;
}

.nav-left,
.nav-right{
    position: relative;
    bottom: 15px;
}


.subnav {
    position: absolute ;
    background-color: #fff; 
    width: 290px;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 115%;
    right: 0%;
    display: none;
    border-radius: 8px;
}

.subnav:after {
    content: "";
    width: 115px;
    height: 20px;
    position: absolute;
    right: 3%;
    top: -10px;
}

.nav-item:hover .subnav {
    display: inline-block;
    animation: appear ease .5s;
}

.subnav .subnav-item {
    padding-left: 10px;
    width: 290px;
    list-style-type: none;
    border-bottom: 1px solid #ccc ;
    line-height: 70px;
    transition: background-color 0.6s;
}

.subnav li a {
    text-decoration: none;
    color: black;
}

.subnav-item:hover{
    background-color: #ccc;
}

@keyframes appear {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Nhớ khi làm js thì phải làm hiệu ứng mouseenter nha Toàn */

.nav-left,
.logo_center,
.nav-right{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.nav-item,
.cart-contain{
    display: inline-block; 
    color: #fff;
    margin: 0 15px;
    line-height: 70px;
}

.nav-item {
    font-size: 20px;
}

.nav-item:hover{
    cursor: pointer;
}

.a-img{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.nav-item:hover .a-img {
    color: #e7a63b;
}

.active {
    color: #e7a63b;
}


.logo_center {
    height: 120px;
    position: relative;
    bottom: 25px;
    margin: 0 40px;
}

.logo-img{
    width: 140px;
    line-height: 90px;
    background-color: black;
    border-radius: 50% ;
}

.cart {
    position: relative;
    right: 50px;
    top: 10px;
}

.count-item {
    position: absolute;
    font-size: 25px;
    color: #ccc;
    bottom: 17px;
}

/* Slider */

.slider {
    margin-top: 160px;
}

.home-slider::before, .home-slider::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.slider-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* About */
.about{
    height: 535px;
    width: 100%;
}

.row-about {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

.text-about{
    display: inline-block;
    width: 456px;
    padding: 130px 0 165px;
    height: 536px;
    margin-left: 100px;
}

.module-left{
    width: 457px;
    text-align: center;
}

.heading {
    margin-bottom: 15px;
}

.large_title {
    font-size: 40px;
    color: #e7b45a;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.mini_title {
    font-size: 25px;
    font-family: "Dacing Script", cursive;
    color: #353434;
}

.day_time {
    margin-bottom: 50px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #707070;
}

.day_time a {
    text-decoration: none;
    color: #707070;
    font-weight: bold;
}

.module-left span {
    color: #707070;
    font-size: 16px;
    line-height: 1.2;
}

.img-about {
    width: 700px;
    height: 600px;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 95px 0;
    margin-right: 20px;
}

.module-right{

}


.module-right::after,
.module-right::before {
    content: "";
    width: 100%;
    height: 100%;
}

.about-img {
    width: 100%;
    height: 100%;
}

.menu_today{
    width: 100%;
    height: 910px;
    background-color: #f4f3ea;
}

.heding_menu {

}

.heading_menu .large_title {
    text-align: center;
}

.heading_menu .mini_title{
    text-align: center;
}

